<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Home</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      veritatis, eveniet ratione molestias porro, tempora tenetur odio
      reiciendis explicabo facere repellat est blanditiis rem. Tempore suscipit
      amet velit doloremque ipsa!
    </p>
    <a href="/login">My Page</a>
  </body>
</html>
